<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biletbudur</title>
    {% load static %}
    <meta name="description" content="Aradığın bütün etkinlik biletlerini bul, sevdiğin sanatçıları takip et ve bir daha hiçbir etkinliği kaçırma.">

    <link rel="icon" href="{% static 'images/icon-48.png' %}" sizes="48x48">
    <link rel="icon" href="{% static 'images/icon.svg' %}" sizes="any">
    <link rel="stylesheet" href="{% static 'style.css' %}">

  </head>
  <body>

    {% block sidebar %}
      
    {% endblock %}
    {% block content %}
     
    {% endblock %}
  </body>

  {% block script %}
  
  {% endblock %}


</html>

